<div>
  <div *ngIf="avalibleMinerals.length > 0">
    <mat-form-field>
      <mat-select [(ngModel)]="activeSelectItem">
        <mat-option *ngFor="let mineral of avalibleMinerals" [value]="mineral">
          {{ mineral }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="addItem()">Add</button>
  </div>
  <div>
    <table>
      <tr *ngFor="let itwmValue of minerals">
        <td>{{ itwmValue.item }}</td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [(ngModel)]="itwmValue.quantity" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select [(ngModel)]="itwmValue.quantityRatio">
              <mat-option *ngFor="let unit of units" [value]="unit.value">
                {{ unit.name }}
              </mat-option>
            </mat-select>
          </mat-form-field></td>
        <td>
          <button mat-button (click)="deleteItem(itwmValue)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
