<div class="container">
  <div class="type-select">
    <div
      class="type-select-button"
      (click)="changeType(AmountInputType.weight)"
      [ngClass]="{
        'active-label': currentInputType === AmountInputType.weight
      }"
    >
      weight
    </div>
    <div
      class="type-select-button"
      (click)="changeType(AmountInputType.quantity)"
      [ngClass]="{
        'active-label': currentInputType === AmountInputType.quantity
      }"
    >
      quantity
    </div>
    <div
      class="type-select-button"
      (click)="changeType(AmountInputType.volume)"
      [ngClass]="{
        'active-label': currentInputType === AmountInputType.volume
      }"
    >
      volume
    </div>
    <div
      class="type-select-button"
      (click)="changeType(AmountInputType.dish)"
      [ngClass]="{
        'active-label': currentInputType === AmountInputType.dish
      }"
    >
      dish
    </div>
  </div>
  <div class="type-value" [ngSwitch]="currentInputType">
    <div *ngSwitchCase="AmountInputType.quantity">qnt</div>
    <div *ngSwitchCase="AmountInputType.volume">volume</div>
    <div *ngSwitchCase="AmountInputType.weight">weight</div>
    <div *ngSwitchCase="AmountInputType.dish">dish</div>
  </div>
</div>
