<div *ngIf="allItems">
  <div *ngIf="allItems.length > 0">
      <mat-form-field>
        <mat-select [(ngModel)]="activeSelectItem">
          <mat-option
            *ngFor="let item of allItems"
            [value]="item"
          >
          {{ getLabel( item) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-stroked-button (click)="addItem()">Add</button>
  </div>
  <div>
    <table>
      <tr *ngFor="let itemValue of items">
        <td>
          <div>{{getLabel( itemValue)  }}</div>
          <div class="item-quantity-mg">
            {{
              getQuantitySummary(weightGrams)
            }}
          </div>
        </td>
        <td>
          <mat-form-field class="item-quantity">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [(ngModel)]="weightGrams" />
          </mat-form-field>
        </td>
        <td class="item-select">
          <mat-form-field>
            <mat-select [(ngModel)]="unitRatio">
              <mat-option *ngFor="let unit of units" [value]="unit.value">
                {{ unit.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteItem(itemValue)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
