<p>diary-day works!</p>

<a
  mat-button
  [routerLink]="['./../day']"
  [queryParams]="{ date: previousDayString }"
  >previous</a
>
<a
  mat-button
  [routerLink]="['./../day']"
  [queryParams]="{ date: nextDayString }"
  >next</a
>

<div>{{ currentDay }} - {{ currentDayString }}</div>
<div>
  {{ diaryDayModel?.date }}
</div>
<div>Caloires: {{ calories }} kcal</div>
<div>
  <button mat-button (click)="addMeal()">Add Meal</button>
  <div *ngIf="isAddMealActive">
    <button mat-button (click)="addMealConfirm()">Confirm</button>
    <button mat-button (click)="addMealCancel()">Cancel</button>
  </div>
</div>
<div>
  <div *ngFor="let meal of diaryDayModel?.meals">
    <div>
      <div>{{ meal.dateNumber }} {{ meal.recipe.name }}</div>
      <div *ngFor="let ingredient of meal.ingredients">
        <div>
          {{ ingredient.item.name }}
          {{
            ingredient.weight.dataValueRelative * ingredient.weight.dataFactor
          }}
          g
        </div>
        <mat-slider
          [(ngModel)]="ingredient.weight.dataValueRelative"
        ></mat-slider>
      </div>

      <button mat-stroked-button  (click)="saveMeal(meal)">
        Save
      </button>
      <button mat-stroked-button color="warn" (click)="deleteMeal(meal)">
        Delete
      </button>
    </div>
  </div>
</div>
