<div *ngIf="viewType">
  <div *ngIf="item" class="item">
    <mat-card>
      <div class="category">
        <mat-form-field class="full-width">
          <mat-select [(ngModel)]="item.categoryId">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="card">
        <mat-card>
          <div class="information">
            <mat-form-field class="full-width">
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="item.name" />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                type="text"
                [(ngModel)]="item.description"
              ></textarea>
            </mat-form-field>
            <button mat-stroked-button>Setup languages</button>
          </div>
        </mat-card>
      </div>
      <div class="card">
        <mat-card>
          <mat-card-title>Details for 100 grams</mat-card-title>
          <div class="card">
            <mat-card>
              <div class="basic-values">
                <div>
                  <mat-form-field class="item-quantity">
                    <mat-label>Fat</mat-label>
                    <input
                      matInput
                      type="number"
                      [(ngModel)]="item.fat"
                    /> </mat-form-field
                  ><span> g</span>
                </div>

                <div>
                  <mat-form-field class="item-quantity">
                    <mat-label>Protein</mat-label>
                    <input
                      matInput
                      type="number"
                      [(ngModel)]="item.protein"
                    /> </mat-form-field
                  ><span> g</span>
                </div>

                <div>
                  <mat-form-field class="item-quantity">
                    <mat-label>Carbs</mat-label>
                    <input
                      matInput
                      type="number"
                      [(ngModel)]="item.carbs"
                    /> </mat-form-field
                  ><span> g</span>
                </div>
                <div>
                  <mat-form-field class="item-quantity">
                    <mat-label>Calores</mat-label>
                    <input
                      matInput
                      type="number"
                      [(ngModel)]="item.calories"
                    /> </mat-form-field
                  ><span> kcal</span>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="nutrition">
            <div class="card">
              <mat-card>
                <mat-card-title>Minerals</mat-card-title>
                <aqn-item-mineral
                  [minerals]="item.minerals"
                  (valueChanged)="item.minerals = $event"
                ></aqn-item-mineral>
              </mat-card>
            </div>

            <div class="card">
              <mat-card>
                <mat-card-title>Vitamins</mat-card-title>
                <aqn-item-vitamin
                  [vitmains]="item.vitamins"
                  (valueChanged)="item.vitamins = $event"
                ></aqn-item-vitamin
              ></mat-card>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="card">
        <mat-card>
          <mat-card-title>Allergens</mat-card-title>
          <aqn-item-allergan></aqn-item-allergan>
        </mat-card>
      </div>
      <div>
        <button mat-button (click)="cancel()">Cancel</button>
        <button
          mat-raised-button
          *ngIf="viewType !== ViewType.detail"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </mat-card>
  </div>
</div>
