textarea {
  min-height: 100px;
}
.item {
  width: 1200px;
  margin: auto 0;
}

.full-width {
  width: 100%;
}
.card{
  margin: 10px;
  padding: 10px;
}
.information {
  // display: inline-flex;
  div{
    margin: 5px;
  }
}
.basic-values {
  display: inline-flex;
  div{
    margin: 10px;
  }
}

.nutrition{
  display: inline-flex;

}
