<div>
  <mat-card>
    <div>
      <aqn-ingredient-search
        (ingredientChange)="activeSelectItem = $event"
      ></aqn-ingredient-search>
    </div>
    <button mat-button (click)="addItemConfirm()">Confirm</button>
    <button mat-button (click)="addItemCancel()">Cancel</button>
  </mat-card>

</div>
<div>
  <table>
    <tr *ngFor="let itemValue of ingredients">
      <td>
        <div>{{ itemValue.item.name }}</div>
      </td>
      <td>
        <aqn-item-amount
          [ingredient]="itemValue.item"
          [weight]="itemValue.weight"
          (weightChanged)="itemValue.weights = $event"
        ></aqn-item-amount>
        {{itemValue.weight?.dataValueRelative }}
      </td>
      <td>
        <button mat-stroked-button color="warn" (click)="deleteItem(itemValue)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
