<div>
  <div *ngIf="avalibleVitamins.length > 0">
      <mat-form-field>
        <mat-select [(ngModel)]="activeSelectItem">
          <mat-option
            *ngFor="let mineral of avalibleVitamins"
            [value]="mineral"
          >
            {{ mineral }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-stroked-button (click)="addItem()">Add</button>
  </div>
  <div>
    <table>
      <tr *ngFor="let itemValue of vitmains">
        <td>
          <div>{{ itemValue.item }}</div>
          <div class="item-quntity-mg">
            {{
              getQuantitySummary(itemValue.quantity, itemValue.quantityRatio)
            }}
          </div>
        </td>
        <td>
          <mat-form-field class="item-quantity">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [(ngModel)]="itemValue.quantity" />
          </mat-form-field>
        </td>
        <td class="item-select">
          <mat-form-field>
            <mat-select [(ngModel)]="itemValue.quantityRatio">
              <mat-option *ngFor="let unit of units" [value]="unit.value">
                {{ unit.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteItem(itemValue)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
