<div *ngIf="avalibleItems && avalibleItems.length > 0">
  <mat-form-field>
    <mat-select [(ngModel)]="activeSelectItem">
      <mat-option *ngFor="let item of avalibleItems" [value]="item">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button (click)="addItem()">Add</button>
</div>
<div>
  <table>
    <tr *ngFor="let itemValue of ingredients">
      <td>
        <div>{{ itemValue.item.name }}</div>
      </td>
      <td>
        <aqn-item-amount
          [ingredient]="itemValue.item"
          [weight]="itemValue.weight"
          (weightChanged)="itemValue.weights = $event"
        ></aqn-item-amount>
        {{itemValue.weight?.weightValueRelative }}
      </td>
      <td>
        <button mat-stroked-button color="warn" (click)="deleteItem(itemValue)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
